.menu
  h3 Buy Buy Buy
  ul
    li Benz
    li BMW
    li Audi
  a.face(href="https://www.facebook.com/", target="_blank")
    img.faceimg(src="https://www.transparentpng.com/thumb/facebook-logo-png/facebook-logo-free-download-transparent-3.png", alt="Facebook") 
  a.twit(href="https://twitter.com/?lang=zh-tw", target="_blank")
    img.twitimg(src="https://www.transparentpng.com/thumb/twitter/twitter-style-icons-png-6.png", alt="")
  a.ig(href="https://www.instagram.com/", target="_blank")
    img.igimg(src="https://www.transparentpng.com/thumb/logo-instagram/YfpFOL-logo-instagram-free-transparent.png", alt="")
.additem
  h5 Item:
  input.addname(placeholder=" Name...")
  h5 Price:
  input.addprice(placeholder=" Price...")
  h5 Quantity:
  input.addqty(placeholder=" Quantity...")
  button.add Add
.banner
  h2 Shopping Cart
.shoplist
  ul
    li.p Price
    li.q Quantity
  #items
    //- .item_block
    //-   .item.id 1.
    //-   .item.itemname M8
    //-     br
    //-     p.item.remark Very cool
    //-   .item.qty 1
    //-   .item.price 20000
    //-   button.item.remove X
  #total
    //- h3 Total
    //- .totalprice 1000 $